<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/style/stylelogin.css">
    <title>Document</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>REGISTRE-SE</h1>
                <div class="textfield">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" placeholder="Digite seu Nome...">
                </div>   
                <div class="textfield">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Digite seu email...">
                </div>   
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="text" name="senha" placeholder="Digite sua Senha...">
                </div>
                <div class="textfield">
                    <label for="confirsenha">Confirme a senha</label>
                    <input type="text" name="confirsenha" placeholder="Confirme a sua senha...">
                </div>
                <button class="btn-login">Login</button>
                <a href="/components/pages/login.html">Já tem uma conta?</a>
            </div>
        </div>
</body>
</html>